node_modules
dist/
build/
**/.DS_Store
.config.json
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# terraform files
**/.terraform/*
**/backend.tf
*.tfstate
*.tfstate.*
*.tfvars
terraform/*.zip
chai-shots-465914-24cab0e5f9b5.json
